.navcontainer1{
    padding-top: 40px;
}

.postnav1{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid;
    border-image:linear-gradient(to right, rgba(243, 66, 59, 0.9) 0%,rgba(212, 20, 232,0.8) 50%,rgba(72, 39, 226, 0.75) 100%);
    border-image-slice: 1;
    .lefttextnav1{
        font-size: 22px;
        color: #f44336;
        font-family: 'Roboto';
        font-weight: 600;
    }
    ul{
        list-style-type: none;
        li{
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
            display: inline;
            padding-right: 20px;
            &:first-child{
                color: #f44336;
            }
        }
        li:last-child{
            padding-right: 0px;
        }
    }
}
@media only screen and (max-width:600px){
    .navcontainer1{
        max-width: 100%;
        .lefttextnav1{
            font-size: 17px;
        }
        ul{
            display: none;
            li{
                font-size: 10px;
            }
        }
    }   
}